.profile__popper {
  height: 60px;
  width: 60px;
  border: 1px solid #814096;
}

.profile__body {
  text-align: center;
  padding: 0 !important;
}

.profile__body h6 {
  margin-top: 15px;
}

.profile__body h6,
.profile__body p {
  font-size: 10px;
  margin-bottom: 6px;
}

.profile__body button {
  padding: 5px 10px;
  font-size: 10px;
  border-radius: 5px;
  background-color: #10b981;
  color: #fff;
  border: 0;
  outline: 0;
}
