#header__top {
  background-color: #10b981;
  padding: 20px 0;
}

#header__top form {
  position: relative;
}

#header__top form input {
  width: 95%;
  outline: 0;
  border: 0;
  padding: 12px 25px;
  font-family: inherit;
  border-radius: 5px;
}

#header__top form input::placeholder {
  color: rgba(51, 51, 51, 0.411);
  font-family: inherit;
}

#header__top form button {
  border: 0;
  outline: 0;
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  color: rgba(51, 51, 51, 0.411);
  font-weight: 400;
}

#header__top .top__nav__icon {
  color: #fff;
  display: flex;
  align-items: center;
}

#header__top .top__nav__icon li {
  margin-left: 40px;
}

#header__top .top__nav__icon li:nth-child(1) {
  margin-left: 0;
}

#header__top .top__nav__icon img {
  height: 30px;
  width: 25px;
  cursor: pointer;
}

.cart__icon {
  position: relative;
}

.cart__icon span {
  position: absolute;
  top: -10px;
  background-color: #ef4444;
  color: #fff;
  font-weight: 700;
  padding: 1px 5px;
  right: -10px;
  border-radius: 50%;
  font-size: 14px;
}

.placeholder__text {
  position: absolute;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
  left: 25px;
  right: 25px;
}

.placeholder__text .placeholder__image {
  padding: 23px 25px;
  border-radius: 50%;
  background-color: #d1fae5;
}

.placeholder__text h6 {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #374151;
  margin: 15px 0 10px 0;
}

.placeholder__text p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #6b7280;
}

.cart__button {
  position: absolute;
  bottom: 20px;
  width: 90%;
  border: 0;
  outline: 0;
  background-color: #10b981;
  padding: 15px;
  text-align: center;
  font-family: inherit;
  border-radius: 7px;
  color: #fff;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
}

.cart__button:disabled {
  cursor: not-allowed;
  background-color: #10b981bb;
}

.cart__button span {
  background-color: #fff;
  color: #10b981;
  padding: 5px 15px;
  border-radius: 5px;
}

.cart__item__container {
  max-height: 75vh;
  overflow: auto;
  padding-right: 20px;
}

.cart__item__container::-webkit-scrollbar {
  width: 5px;
}

.cart__item__container::-webkit-scrollbar-thumb {
  background: #10b981a6;
  border-radius: 2px;
}

.cart__item__container::-webkit-scrollbar-track {
  background: #f6f1f1;
}
