#header__top {
  background-color: #10b981;
  padding: 20px 0;
}

#header__top form {
  position: relative;
}

#header__top form input {
  width: 95%;
  outline: 0;
  border: 0;
  padding: 12px 25px;
  font-family: inherit;
  border-radius: 5px;
}

#header__top form input::placeholder {
  color: rgba(51, 51, 51, 0.411);
  font-family: inherit;
}

#header__top form button {
  border: 0;
  outline: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 400;
  background-color: #fff;
  padding: 10px;
  right: 40px;
  text-align: center;
}

#header__top .top__nav__icon {
  color: #fff;
  display: flex;
  align-items: center;
}

#header__top .top__nav__icon li {
  margin-left: 40px;
}

#header__top .top__nav__icon li:nth-child(1) {
  margin-left: 0;
}

#header__top .top__nav__icon img {
  height: 30px;
  width: 25px;
  cursor: pointer;
}

.cart__icon {
  position: relative;
}

.cart__icon span {
  background-color: #ef4444;
  border-radius: 50%;
  color: #fff;
  font-weight: 500;
  position: absolute;
  right: -15px;
  top: -10px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.placeholder__text {
  position: absolute;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
  left: 25px;
  right: 25px;
}

.placeholder__text .placeholder__image {
  padding: 23px 25px;
  border-radius: 50%;
  background-color: #d1fae5;
}

.placeholder__text h6 {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #374151;
  margin: 15px 0 10px 0;
}

.placeholder__text p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #6b7280;
}

.cart__button {
  position: absolute;
  bottom: 20px;
  width: 90%;
  border: 0;
  outline: 0;
  background-color: #10b981;
  padding: 15px;
  text-align: center;
  font-family: inherit;
  border-radius: 7px;
  color: #fff;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
}

.cart__button:disabled {
  cursor: not-allowed;
  background-color: #10b981bb;
}

.cart__button span {
  background-color: #fff;
  color: #10b981;
  padding: 5px 15px;
  border-radius: 5px;
}

.cart__item__container {
  max-height: 75vh;
  overflow: auto;
  padding-right: 20px;
}

.cart__item__container::-webkit-scrollbar {
  width: 5px;
}

.cart__item__container::-webkit-scrollbar-thumb {
  background: #10b981a6;
  border-radius: 2px;
}

.cart__item__container::-webkit-scrollbar-track {
  background: #f6f1f1;
}

.logo img {
  width: 110px;
}

.nav__items {
  padding: 17px 0;
  border-bottom: 1px solid #4b55631c;
}

.nav__items .left__item li a,
.nav__items .right__item li a {
  color: #333;
  font-weight: 500;
  transition: all linear 0.3s;
  font-size: 14px;
}

.nav__items .left__item li a,
.nav__items .right__item li a {
  margin-right: 20px;
}

.nav__items .left__item li a:hover,
.nav__items .right__item li a:hover {
  color: #059669;
}

.nav__items .active {
  color: #059669 !important;
}

.nav__items .right__item {
  display: flex;
  align-items: center;
  justify-content: end;
}

.dropdown {
  position: relative;
  cursor: pointer;
  margin-right: 15px;
}

.dropdown span {
  margin-left: 10px;
  align-items: center;
  align-self: center;
}

.nav__items .left__item .dropdown ul {
  position: absolute;
  top: 30px;
  visibility: hidden;
  opacity: 0;
  background-color: #fff;
  box-shadow: 0 0 1px #333;
  padding: 20px 40px;
  width: 300px;
  transition: all linear 0.3s;
  z-index: 3;
}

.nav__items .left__item .dropdown ul li {
  line-height: 45px;
}

.nav__items .left__item .dropdown ul li a {
  margin: 0;
}

.nav__items .left__item .dropdown ul li a img {
  margin-right: 15px;
}

.nav__items .left__item .dropdown:hover.dropdown ul {
  visibility: visible;
  opacity: 1;
}

#mobile__menu {
  position: fixed;
  background-color: #10b981;
  padding: 13px 0;
  z-index: 9999999;
  bottom: 0;
  left: 0;
  right: 0;
}

#mobile__menu img {
  height: 30px;
  width: 30px;
  object-fit: cover;
  cursor: pointer;
}

.offCanvas__mobile__menu {
  z-index: 10000000;
}

#mobile__cart {
  position: relative;
}

#mobile__cart span {
  background-color: #ef4444;
  border-radius: 50%;
  color: #fff;
  font-weight: 500;
  position: absolute;
  right: -10px;
  top: -10px;
  width: 23px;
  height: 23px;
  text-align: center;
}

.mobile__offCanvas__body {
  padding-left: 50px;
}

.mobile__offCanvas__body h3 {
  font-size: 20px;
  color: #374151;
  font-weight: 600;
  margin: 30px 0 10px 0;
}

.mobile__offCanvas__body ul {
  background-color: #fff;
}

.mobile__offCanvas__body ul li {
  line-height: 45px;
}

.mobile__offCanvas__body ul li a {
  margin: 0;
  color: #333;
}

.mobile__offCanvas__body ul li a img {
  margin-right: 15px;
}

.category {
  position: relative;
  cursor: pointer;
  margin-right: 15px;
}

.category img {
  margin-right: 10px;
  height: 20px;
  width: 20px;
}

.category ul {
  position: absolute;
  top: 30px;
  visibility: hidden;
  opacity: 0;
  background-color: #fff;
  box-shadow: 0 0 1px #333;
  padding: 20px 40px;
  width: 300px;
  transition: all linear 0.3s;
  z-index: 3;
}

.category ul a {
  line-height: 45px;
  margin: 0;
  display: block;
  display: flex;
  align-self: center;
  align-items: center;
}

.category:hover.category ul {
  visibility: visible;
  opacity: 1;
}

@media only screen and (max-width: 1000px) {
  .nav__items .left__item li a,
  .nav__items .right__item li a {
    margin-right: 19px;
  }
}

@media only screen and (max-width: 767px) {
  .logo {
    display: none;
  }

  #header__top .top__nav__icon li {
    margin-left: 30px;
  }

  #header__top {
    position: fixed;
    z-index: 9999999;
    left: 0;
    top: 0;
    right: 0;
  }
}

@media only screen and (max-width: 500px) {
  .input {
    width: 95%;
  }
  #header__top form button {
    right: 30px;
    padding: 5px;
  }
  #header__top {
    position: fixed;
  }
}

@media only screen and (max-width: 400px) {
  .input {
    width: 100%;
  }
}
