.card {
  display: flex;
  align-items: center;
  border: 1px solid #3333331c;
  height: 60px;
  padding: 10px;
  cursor: pointer;
  transition: all linear 0.3s;
  overflow: hidden;
  border-radius: 5px;
}

.card img {
  height: 35px;
  width: 35px;
  margin: 0 10px 0 0;
}

.card h6 {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #4b5563;
  margin: 0;
  text-align: left;
}
