#register {
  margin: 100px auto;
  width: 600px;
}

#register h3 {
  color: #21263b;
  font-weight: 900;
  font-size: 48px;
  line-height: 36px;
}

#register .third__party {
  margin: 20px 0;
}

#register .method1,
#register .method2,
#register .method3 {
  display: flex;
  padding: 16px;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all linear 0.3s;
}

#register .method1 {
  border: 1px solid #f02290;
}

#register .method1:hover {
  background: rgba(240, 34, 144, 0.1);
}

#register .method2 {
  border: 1px solid #0b86ee;
}

#register .method2:hover {
  background: rgba(11, 134, 238, 0.1);
}

#register .method3 {
  border: 1px solid #21263b;
}

#register .method3:hover {
  background: rgba(33, 38, 59, 0.1);
}

#register .method1 h5,
#register .method2 h5,
#register .method3 h5 {
  margin-left: 16px;
  font-size: 16px;
  font-weight: 700;
  color: #21263bea;
}

#register .another {
  font-size: 18px;
  font-weight: 600;
  position: relative;
  text-align: center;
  color: #21263b7c;
}

#register .another::after,
#register .another::before {
  content: '';
  position: absolute;
  width: 44%;
  height: 1px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #21263b42;
}

#register .another::before {
  left: 0;
}

#register .another::after {
  right: 0;
}

#register form {
  margin: 50px 0;
}

#register .inputs {
  position: relative;
  width: 100%;
}

#register .inputs input {
  border: 1px solid #21263b7c;
  outline: 0;
  border-radius: 10px;
  padding: 15px 60px;
  display: block;
  width: 100%;
  background-color: #fff;
  margin-bottom: 20px;
}

#register .inputs input::placeholder {
  color: rgba(51, 51, 51, 0.411);
  font-family: inherit;
}

#register .inputs label {
  position: absolute;
  top: 35%;
  left: 20px;
  transform: translateY(-50%);
  border: 0;
  background: transparent;
  font-family: inherit;
}

#register .inputs label img {
  border: 0;
  background: transparent;
  outline: 0;
}

#register form .options {
  display: flex;
  margin: 10px 0 20px 0;
  justify-content: flex-end;
  align-items: center;
}

#register form .options a {
  font-size: 14px;
  color: #4b5563;
  transition: all linear 0.3s;
}

#register form .options a:hover {
  color: #10b981;
}

#register form button {
  background-color: #10b981;
  border: 2px solid transparent;
  color: #fff;
  outline: 0;
  padding: 15px 35px;
  width: 100%;
  border-radius: 10px;
  transition: all linear 0.3s;
  font-family: inherit;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#register .fa-arrow-right {
  width: 150px;
}

@media only screen and (max-width: 700px) {
  #register {
    width: 100%;
  }
}
