.footer {
  margin: 100px 0;
  position: relative;
}

.footer .logo img {
  width: 25%;
}

.footer p,
.footer ul li a {
  color: #4b5563;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.footer p {
  margin: 20px 0;
}

.footer h6 {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.footer .social__link {
  margin-top: 20px;
  display: flex;
}

.footer .social__link li {
  margin-right: 15px;
  transition: all linear 0.3s;
  overflow: hidden;
}

.footer .social__link li a {
  overflow: hidden;
  transition: all linear 0.3s;
}

.footer .social__link li:last-child {
  margin-right: 0;
}

.footer .social__link li:nth-child(1) a {
  color: #0b86ee;
  border: 1px solid #0b86ee;
}

.footer .social__link li:nth-child(1):hover a {
  background-color: #0b86ee;
  color: #fff;
}

.footer .social__link li:nth-child(2) a {
  color: #1371be;
  border: 1px solid #1371be;
}

.footer .social__link li:nth-child(2):hover a {
  background-color: #1371be;
  color: #fff;
}

.footer .social__link li:nth-child(3) a {
  color: #f02290;
  border: 1px solid #f02290;
}

.footer .social__link li:nth-child(3):hover a {
  background-color: #f02290;
  color: #fff;
}

.footer .social__link li:nth-child(4) a {
  color: #1371be;
  border: 1px solid #1371be;
}

.footer .social__link li:nth-child(4):hover a {
  background-color: #1371be;
  color: #fff;
}

.footer .social__link li:nth-child(5) a {
  color: #10b981;
  border: 1px solid #10b981;
}

.footer .social__link li:nth-child(5):hover a {
  background-color: #10b981;
  color: #fff;
}

.footer .social__link li:nth-child(6) a {
  color: #000;
  border: 1px solid #000;
}

.footer .social__link li:nth-child(6):hover a {
  background-color: #000;
  color: #fff;
}

.footer .social__link li a {
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 50%;
}

.footer .footer__column h5 {
  color: #000;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.footer .footer__column ul {
  margin-top: 20px;
}

.footer .footer__column ul li {
  line-height: 35px;
}

.footer .footer__column ul li a {
  font-size: 14px;
  color: #4b5563;
  transition: all linear 0.3s;
}

.footer .footer__column ul li a:hover {
  color: #10b981;
}

#copyright__area {
  border-top: 1px solid #ebe5e5;
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}

#copyright__area img {
  width: 250px;
  object-fit: cover;
}

#copyright__area a {
  color: #10b981;
  font-weight: 500;
}

@media only screen and (max-width: 991px) {
  .footer .footer__column {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    margin: 50px 0;
  }

  #copyright__area {
    justify-content: center;
  }

  #copyright__area img {
    display: none;
  }
}
