#welcome__text {
  margin: 100px auto;
}

#welcome__text h3 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
  color: #000;
  margin-bottom: 20px;
}

#welcome__text p {
  color: #4b5563;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 20px;
}
