#welcome__text {
  margin: 100px auto;
}

#welcome__text h3 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
  color: #000;
  margin-bottom: 20px;
}

#welcome__text p {
  color: #4b5563;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 20px;
  text-align: justify;
}

#welcome__text img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  border-radius: 10px;
}

.about__image {
  padding: 70px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  background-color: #10b981;
  padding: 20px;
  color: #fff;
  border-radius: 10px;
}

.card h2 {
  font-size: 30px;
  font-weight: 600;
}

.card h4 {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0;
}

.card p {
  font-size: 16px;
  color: #fff !important;
}

#welcome__text img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
