.card {
  background-color: #fff;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 1px 3px 7px #0000002e;
  text-align: left;
  cursor: pointer;
  transition: all linear 0.3s;
}

.card__img {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all linear 0.3s;
}

.card:hover .card__img {
  transform: scale(1.1);
}

.card:hover {
  box-shadow: 1px 3px 20px #0000002e;
}

.card img {
  height: 150px;
  object-fit: contain;
  width: 100%;
}

.card .card__content {
  padding: 20px 15px;
}

.card .card__content h6 {
  color: #4b5563;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.card .card__content h4 {
  color: #1f2937;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
}

.card .card__content button img {
  height: 20px;
  width: 20px;
}

.card .card__content button {
  border: 1px solid #10b981;
  padding: 4px 5px;
  outline: 0;
  background-color: #fff;
  border-radius: 5px;
  transition: all linear 0.3s;
}

.card .card__content button svg {
  transition: all linear 0.3s;
}

.card .card__content button:hover svg {
  fill: #fff;
}

.card .card__content button:hover {
  background-color: #10b981;
}

.card .card__content button:disabled {
  border: 1px solid #10b98149;
  cursor: not-allowed;
  background-color: #10b98149;
}

.card .card__content button:disabled:hover {
  border: 1px solid #10b98149;
  cursor: not-allowed;
  background-color: #10b98149;
}

.card .card__content button:disabled:hover svg {
  fill: #10b981;
}
