.reset__section {
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset__section .reset__container {
  box-shadow: 0px 0px 10px lightgray;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reset__section .reset__container .reset__img {
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.reset__section .reset__email {
  width: 400px;
  background: white;
  border-radius: 10px;
  padding-bottom: 50px;
}

.reset__section .inputs {
  position: relative;
  width: 100%;
}

.reset__section .inputs input {
  border: 1px solid #21263b7c;
  outline: 0;
  border-radius: 10px;
  padding: 15px 60px;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.reset__section .inputs input::placeholder {
  color: rgba(51, 51, 51, 0.411);
  font-family: inherit;
}

.reset__section .inputs label {
  position: absolute;
  top: 35%;
  left: 20px;
  transform: translateY(-50%);
  border: 0;
  background: transparent;
  font-family: inherit;
}

.reset__section .inputs label img {
  border: 0;
  background: transparent;
  outline: 0;
}

.reset__section form button {
  background-color: #10b981;
  border: 2px solid transparent;
  color: #fff;
  outline: 0;
  padding: 10px 50px;
  border-radius: 10px;
  transition: all linear 0.3s;
  font-family: inherit;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reset__section .fa-arrow-right {
  width: 150px;
}
