#cart__tracker {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1px #333;
  position: fixed;
  flex-direction: column;
  background-color: #e1e6eb;
  padding: 10px 0 0 0;
  cursor: pointer;
  z-index: 100;
}

#cart__tracker span {
  position: relative;
}

#cart__tracker p {
  position: absolute;
  top: -2px;
  background-color: #ef4444;
  color: #fff;
  font-weight: 500;
  height: 27px;
  width: 27px;
  right: -7px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cart__tracker h6 {
  width: 100%;
  padding: 2px 0;
  text-align: center;
  background-color: #059669;
  color: #fff;
  font-weight: 600;
  margin-top: 10px;
}

@media only screen and (max-width: 500px) {
  #cart__tracker {
    display: none;
  }
}
