#cart__tracker {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1px #333;
  position: fixed;
  flex-direction: column;
  background-color: #e1e6eb;
  padding: 10px 0 0 0;
  cursor: pointer;
  z-index: 10;
}

#cart__tracker span {
  position: relative;
}

#cart__tracker p {
  position: absolute;
  top: 0px;
  background-color: #ef4444;
  color: #fff;
  font-weight: 700;
  padding: 1px 6px;
  right: -3px;
  border-radius: 50%;
  font-size: 14px;
}

#cart__tracker h6 {
  width: 100%;
  padding: 2px 0;
  text-align: center;
  background-color: #059669;
  color: #fff;
  font-weight: 600;
  margin-top: 10px;
}
