#daily__needs {
  background-color: #eef2ff;
  padding: 50px 0;
}

#daily__needs .daily__needs__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#daily__needs .daily__needs__content h5 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000;
  margin-bottom: 20px;
}

#daily__needs .daily__needs__content p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #4b5563;
}

#daily__needs .daily__needs__content img {
  width: 30%;
  margin: 20px 0;
}

#daily__needs .daily__needs__content img:nth-child(1) {
  margin-right: 20px;
}
